 Python
__pycache__/
*.pyc

# PyTorch model weights
*.pth

# Data (DO NOT UPLOAD DATASETS)
data/
dataset/
*.jpg
*.png

# Training outputs
train_output/
runs/
checkpoints/

# Python virtual environment
.venv/
venv/

# VSCode
.vscode/

# OS
.DS_Store
